html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'PartialSansKR-Regular';
}
.fontNeo{
    font-family: 'NeoDunggeunmoPro-Regular' ;
}
.all_wrap{
    width: 100%;

}
.secondWrap{
    width: 1200px;
    margin:auto;
    display: block;
    justify-content: center;
}
.hide{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}
.firstPage{
    margin-top: 283px;
}
.firstPage p:first-of-type{
    font-size: 150px;
    color:#0000ff
}
.firstPage p:nth-of-type(2){
    font-size: 50px;
}
.firstPage p:nth-of-type(3){
    font-size: 35px;
    color: #ffff;
    text-shadow: 
    1px 1px 0px black, /* 오른쪽 아래 */
    -1px -1px 0px black, /* 왼쪽 위 */
    -1px 1px 0px black, /* 왼쪽 아래 */
    1px -1px 0px black; /* 오른쪽 위 */
    margin-bottom: 283px;
}
.secondWrap .scroll{
    left: 50%; /* 화면의 가로 50% 지점으로 이동 */
    transform: translateX(-50%);
    position:fixed;
    bottom: 5%
}