.scroll_wrap {
    overflow: hidden;
}
.scroll_on{
    transition: transform 1s, opacity 1s;
    opacity: 0;
}
.scroll_on.type_right{
    transform: translateX(-500px);
}
.scroll_on.type_bottom{
    transform: translateY(400px);
}
.scroll_on.type_bottom2{
    transform: translateY(-300px);
}

.scroll_on.type_right.active{
    transform: translateX(0); 
    opacity: 1;
}
.scroll_on.type_bottom.active{
    transform:translateY(0);
    opacity: 1
}
.scroll_on.type_bottom2.active{
    transform:translateY(0);
    opacity: 1
}