html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body{
    height: 100%
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'PartialSansKR-Regular';
    overflow-x: hidden;
}
.fontNeo{
    font-family: 'NeoDunggeunmoPro-Regular' ;
}
.all_wrap{
    position:relative;
    width: 100%;
}
.section {
    height: 100vh; /* 각 섹션이 전체 화면을 차지하도록 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
.secondWrap{
    width: 1200px;
    margin:auto;
    display: block;
    justify-content: center;
}
.hide{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}
.firstPage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.firstPageWrap{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secondPageWrap{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.thirdPageWrap{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.secondPage{
    height: 100vh
}
.thirdPage{

    height: 100vh
}
.fourthPage{
    height: 100vh;
}

.firstPage .firstPageWrap p:first-of-type{
    font-size: 150px;
    color:#0000ff;
}
.firstPage p:nth-of-type(2){
    font-size: 50px;
}
.firstPage p:nth-of-type(3){
    font-size: 35px;
    color: #ffff;
    text-shadow: 
    1px 1px 0px black, /* 오른쪽 아래 */
    -1px -1px 0px black, /* 왼쪽 위 */
    -1px 1px 0px black, /* 왼쪽 아래 */
    1px -1px 0px black; /* 오른쪽 위 */
}
.firstPage p:first-of-type{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstPage .scrollWrap{
    position: relative;
    top: 25vh
}

.scroll{
    animation: upDown 0.8s infinite ease-in-out alternate;
}

@keyframes upDown{
    from{
        transform: translateY(0px)
    }to{
        transform:translateY(-10px)
    }
}

.borderBlue{
    color:#ffff;
    text-shadow: 
    1px 1px 0px #0000ff, /* 오른쪽 아래 */
    -1px -1px 0px #0000ff, /* 왼쪽 위 */
    -1px 1px 0px #0000ff, /* 왼쪽 아래 */
    1px -1px 0px #0000ff; /* 오른쪽 위 */
}
.colorBlue{
    color:#0000ff
}
.secondPage .secondTitle  > p:first-of-type{
    font-size: 128px;
    line-height: 0.9;
    position:relative;
}
.secondPage .secondTitle h2{
    font-size: 60px;
    color:#cfcfcf;
    position:absolute;
    left: 345px;
}

.secondTitle{
    display: flex;
    position:relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.secondTitle span{
    display: block;
}
.blueBox{
    width: 243px;
    height: 243px;
    background-color: #0000ff;
    border: 1px solid #0000ff;
    color:#fff;
    position:relative;
    padding: 10px;
    box-sizing: border-box;
}

.secondBoxTitle{
    font-size: 24px;
    margin-bottom: 45px;
}
.whiteBox{
    width: 243px;
    height: 243px;
    background-color: #fff;
    color:#000;
    border: 1px solid #000;
    position:relative;
    top: 50px;    
    padding: 10px;
    box-sizing: border-box;
}
.secondPage ul:first-of-type{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 1.6;
    font-size: 14px;
}
.thirdList{
    display: flex;
    flex-direction: column;
}
.thirdList li{
    display: flex;
    align-items: center;
    gap: 10px
}
.thirdList .material-symbols-outlined{
    font-size: 15px;
}

.thirdPageWrap .thirdPageTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.thirdPageTitle{
    position: relative;
    margin-bottom: 60px;
}
.thirdPageTitle h2{
    font-size: 128px;
    position:absolute;
    bottom: 30px
}
.thirdPageTitle h2:first-child{
    color:#0000ff;

}
.thirdPageTitle h2:nth-child(2){
    color:#000000;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
    0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}    

.thirdPageTitle > p:first-of-type{
    font-size: 100px ;
    line-height: 0.3;
}
.gray{
    color:#cfcfcf;
}

.loopBox{
    color: #000;
    margin-bottom: 27px;
}
.loopBox p{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink{
    0%{
        opacity: 1;
    }50%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
.infinite{
    animation: blink 2s infinite;
}
.thirdBoxWrap{
    
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.thirdBox{
    position: relative;
    width: 330px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
}

.thirdBoxWrap>li::before{
    content: '';
    position:absolute;
    width: 330px;
    height:400px;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    z-index: 100;
}
.thirdBoxWrap>li:hover::before{
    content:"Go!";
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#fff;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.thirdBox h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

.thirdFirst{
    border: 1px solid #0000ff;
    background-color: #fff;
    color: #0000ba;
}

.thirdSecond{
    border: 1px solid #0000ff;
    background-color: #0000ff;
    color: #fff
}

.thirdThird{
    border: 1px solid black;
    background-color: #000;
    color:#fff
}

.thirdFirst > .textWrap{
    height: 350px;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.thirdSecond > .textWrap{
    height: 350px;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.thirdFirst .textWrap>img{
    width: 200px;
    height: 200px;
    display: block;
    margin:0 auto
}
.thirdSecond .textWrap>img{
    width: 200px;
    height: 200px;
    display: block;
    margin:0 auto
}
.thirdThird .textWrap>img{
    width: 200px;
    height: 200px;
    display: block;
    margin:0 auto
}
.thirdThird>.textWrap{
    height: 350px;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.colorBlack{
    color:black
}
.textWrap{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 20px;
    line-height: 2;
}

.thirdFirst .textWrap a{
    text-decoration: none;
    color:#0000de;
    display: flex;
    align-items: center;  
}
.thirdSecond .textWrap a{
    text-decoration: none;
    color:#fff;
    display: flex;
    align-items: center;  
}
.thirdThird .textWrap a{
    text-decoration: none;
    color:#fff;
    display: flex;
    align-items: center;  
}

.textWrap .material-symbols-outlined{
    font-size: 20px;
}
.textWrap a:hover{
    text-decoration: underline;
}


.fourthPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
}

.thx{
    font-size: 140px;
    line-height: 0.9;
}
.forWatching{
    color:#cfcfcf;
    font-size: 96px;
    line-height: 1.1;
}
.and{
    background-color: #000;
    color: #fff;
    font-size: 64px;
    width:fit-content;
    padding: 0 2px;
    box-sizing: border-box;
}
.haveAnice{
    font-size: 128px;
    line-height: 0.7;
}
.Day{
    font-size: 207px;
    line-height: 0.9;
}

.popupBackground{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    left:0;
    z-index: 900;
}
.popupWidth{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupWidth .popupContent{
    width: 800px;
    height: 800px;
    top: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
}




@media screen and (max-width: 767px) {
    .section{
        min-height: 100vh;
    }
    body{
        width: 100%;
        height: 100%;
    }
    .secondWrap{
        width: 320px;
        display: block;
        margin: 0 auto;
    }
    .firstPage .scrollWrap{
        top: 35vh
    }
    .firstPage .firstPageWrap p:first-of-type{
        font-size: 4rem;
    }
    .firstPageWrap p:nth-of-type(2){
        font-size: 0.9rem;
    }
    .firstPageWrap p:nth-of-type(3){
        font-size: 1rem;
    }
    .secondPageWrap{
        display: block;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .secondPageWrap .secondTitle .borderBlue{
        font-size: 3rem;
    }
    .secondPageWrap .secondTitle .colorBlue{
        font-size: 3rem;
    }
    .secondPage .secondTitle  > p:first-of-type{
        display: block;
        margin-bottom: 0.5rem;
    }
    .secondPage .secondTitle{
        position: relative;
        bottom: -1rem
    }

    .secondPage .secondTitle h2 {
        font-size: 1.4rem;
        left: 8.5rem;
        top: -0.2rem
    }

    .secondBoxTitle{
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }

    .secondPage ul:first-of-type{
        font-size: 0.8rem;
    }

    .secondTitle h2 > .brHeight{
        display: block;
        line-height: 0;
        margin-bottom: -10px;
    }
    .secondTitle span{
        display: block;
    }
    .secondPage .blueBox{
        width: 100%;
        height: 10rem
    }

    .secondPage .whiteBox{
    width: 100%;
    height: 10rem;
    top: 0;
    }

    .secondUlWrap{
        display: block;
        bottom: 30px
    }

    .thirdPageTitle h2{
        font-size: 2rem;
        position:relative;
        bottom: -2vh
    }

    .thirdPageTitle > p:first-of-type{
        font-size: 180%;
        position:relative;
        bottom: -2vh;
    }

    .loopBox{
        bottom: 2vh;
    }
    .loopBox p{
        white-space: nowrap;
        text-overflow: clip;
    }

    .thirdBoxWrap{
        flex-direction: column;
        gap: 10px;
        
    }
    .thirdBox{
        height: 14rem;
        position: relative;
        bottom: 3vh;
        padding: 5px;
        box-sizing: border-box;
    }
    .thirdBox h3{
        font-size: 1.3rem;
    }
    .thirdFirst .textWrap>img{
        width: 6rem;
        height: 6rem;
    }
    .thirdSecond .textWrap>img{
        width: 6rem;
        height: 6rem;
    }
    .thirdThird .textWrap>img{
        width: 6rem;
        height: 6rem;
    }
    .thirdBox > .textWrap{
        height: 11rem;
        font-size: 1rem;
    }
    .fourthPage p{
        font-size: 3rem;
    }
    .thx{
        line-height: 1.1;
    }
    .fourthPage .forWatching{
        font-size: 2.3rem;
        line-height: 1.2;
    }
    .fourthPage .and{
        font-size: 2.1rem;
    }
    .fourthPage .haveAnice{
        font-size: 2.3rem;
        line-height: 0.88;
    }
    .fourthPage .Day{
        font-size: 4rem;
    }

}